<div
  class="card group hover:-translate-y-2 myTransition z-20 bg-secondary rounded-4xl flex flex-col justify-between relative p-3"
>
  <span class="absolute w-20 h-20 rounded-full bg-background z-10 -bottom-1 -right-2"></span>

  <!-- add to cart -->
  <div
    class="absolute shadow-xl w-16 h-16 rounded-full bg-secondary z-20 bottom-1 right-0 flex items-center justify-center"
  >
    <button
      class="text-secondary-foreground/80 hover:text-secondary-foreground hover:scale-105 myTransition"
    >
      <lucide-icon [img]="cartIcon" class="w-8 h-8"></lucide-icon>
    </button>
  </div>

  <!-- image -->
  <div class="relative rounded-3xl overflow-hidden w-full">
    <img
      src="./hero/phone.jpg"
      class="w-full group-hover:scale-110 hover:rotate-6 myTransition  h-56 object-cover"
    />
  </div>

  <!-- content -->
  <div class="p-4 space-y-2 relative w-full">
    <h2 class="text-xl text-secondary-foreground font-bold">Nike Running Shoes</h2>
    <p class="text-secondary-foreground/70 text-sm">
      Lightweight, durable, and built for peak performance every step.
    </p>

    <span class="font-bold text-secondary-foreground text-lg">$59.99</span>
  </div>
</div>
