@reference '../../../../styles.css';

.card {
  position: relative;
}

/* BEFORE */
.card::before {
  content: '';
  position: absolute;
  background: var(--secondary);
  width: 60px; /* w-15 */
  height: 60px; /* h-15 */
  bottom: 76px; /* bottom-19 */
  right: 0;
  z-index: 12;
  border-radius: 9999px;
  box-shadow: 35px 25px 0 var(--background);
}

/* AFTER */
.card::after {
  content: '';
  position: absolute;
  background: var(--secondary);
  width: 60px; /* w-15 */
  height: 60px; /* h-15 */
  bottom: 0;
  right: 72px; /* right-18 */
  z-index: 12;
  border-radius: 9999px;
  box-shadow: 35px 25px 0 var(--background);
}
