<div class="text-primary bg-background fixed w-full z-50 backdrop-blur-2xl py-2 -bottom-1">
  <div class="flex justify-evenly items-center">
    @for (item of navItems; track $index) {
      <div>
        <a
          routerLink="{{ item.link }}"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="text-pop"
          class="hover:text-pop text-base myTransition rounded-md flex items-center flex-col"
        >
          <lucide-icon [name]="item.icon" class="w-5 h-5"></lucide-icon>
          {{ item.label }}
        </a>
      </div>
    }
  </div>
</div>
