<nav class="fixed w-full bg-background z-50 backdrop-blur-2xl py-2">
  <div class="flex justify-between items-center w-(--myWidth) mx-auto">
    <div class="flex items-center justify-between md:gap-4 grow md:grow-0">
      <!-- Logo -->
      <div class="flex items-center gap-6">
        <a routerLink="/" class="flex items-center justify-center gap-2">
          <img src="/logos.png" alt="Logo" class="w-8 h-8 shrink-0" />
          <span class="text-xl tracking-wider mt-1.5 font-bold capitalize myTransition"> crafted </span>
        </a>
      </div>

      <div class="flex items-center gap-2">
        <!-- search input -->
        <app-search-input></app-search-input>

        <!-- mode toggle -->
        <app-mode-toggle class="md:hidden" [text]="false"></app-mode-toggle>
      </div>
    </div>

    <div class="hidden md:flex items-center gap-3">
      <!-- Auth Buttons -->
      @if (isAuthenticated$ | async) {
        <!-- fav -->
        <app-button variant="icon" extraClasses="flex items-center">
          <lucide-icon [img]="Heart" class="size-(--md-icon)"></lucide-icon>
        </app-button>
        <!-- cart -->
        <app-button variant="icon" extraClasses="flex items-center">
          <lucide-icon [img]="Cart" class="size-(--md-icon)"></lucide-icon>
        </app-button>
        <!-- user -->
        <div class="relative dropdown-wrapper">
          <app-button
            (click)="toggleProfileMenu($event)"
            variant="icon"
            extraClasses="flex items-center "
          >
            <lucide-icon [img]="User" class="border rounded-full size-(--md-icon)"></lucide-icon>
          </app-button>
          <!-- profile Dropdown -->
          @if (profileMenuOpen) {
            <app-dropdown
              [items]="[
                { label: 'Profile', href: '/profile' },
                { label: 'Orders History', href: '/' },
                { label: 'My Designs Studio', href: '/' },
              ]"
              width="w-fit"
              align="right"
              (click)="closeProfileMenu()"
            >
              <li class="group px-4 py-3 transition-all duration-200">
                <app-mode-toggle></app-mode-toggle>
              </li>
              <li class="group px-2 py-3 transition-all duration-200">
                <app-button (click)="logout()" variant="ghost" width="full">Sign me out</app-button>
              </li>
            </app-dropdown>
          }
        </div>
      } @else {
        <div class="flex items-center gap-2">
          <app-button routerLink="/login" variant="primary" size="sm">Login</app-button>
          <app-button routerLink="/signup" variant="outline" size="sm">Sign Up</app-button>
          <app-mode-toggle [text]="false"></app-mode-toggle>
        </div>
      }
    </div>
  </div>
</nav>
