<div
  class="absolute mt-2 rounded-xl shadow-xl border border-background overflow-hidden backdrop-blur-sm"
  [ngClass]="[width(), alignmentClasses, variantClasses]"
>
  <ul class="divide-y divide-background">
    @for (item of items(); track $index) {
      <li class="group px-4 py-3 hover:bg-pop/20 cursor-pointer transition-all duration-200">
        <a [href]="item.href" class="flex items-center gap-4 justify-between">
          <span
            class="text-foreground text-nowrap group-hover:text-pop font-medium transition-colors"
          >
            {{ item.label }}</span
          >
          <svg
            class="w-4 h-4 group-hover:text-pop text-foreground  transform -translate-x-2 group-hover:translate-x-0 transition-all duration-200"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </li>
    }

    <ng-content></ng-content>
  </ul>
</div>
