/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "./theme.css";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button , a {
  cursor: pointer;
}

.myTransition {
  transition: all 0.3s ease-in-out;
}



