@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-pop: var(--pop);
  --color-pop-foreground: var(--pop-foreground);
  --color-dark:var(--dark);
  --color-light:var(--light);
}

:root {
  --background: #eeeeee;
  --foreground: #2a515f;
  --primary: #326273;
  --primary-foreground: #fff;
  --secondary: #e1e0e0;
  --secondary-foreground: #326273;
  --pop: #e39774;
  --pop-foreground: #fff;
  --dark: #2a515f;
  --light: #eeeeee;

  --myWidth: 85%;
  --lg-icon: 2.5rem;
  --md-icon: 2rem;
  --sm-icon: 1.5rem;
}

.dark {
  --background: #0d1f25;
  --foreground: #e3f0f3;
  --primary: #4d8ea0;
  --primary-foreground: #0d1f25;
  --secondary: #1c3440;
  --secondary-foreground: #a8d1db;
  --pop: #f68f5f;
  --pop-foreground: #0d1f25;
  --dark: #0d1f25;
  --light: #e3f0f3;
}

*::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}
