@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-pop: var(--pop);
  --color-pop-foreground: var(--pop-foreground);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --font-title: var(--title-font);
  --font-main: var(--main-font);
}

:root {
  --background: #eeeeee;
  --foreground: #004055;
  --primary: #16405b;
  /* --primary: #16405b; */
  --primary-foreground: #fff;
  --secondary: #dadfe1;
  --secondary-foreground: #006080;
  --pop: #e65722;
  --pop-foreground: #ffffff;
  --dark: #004055;
  --light: #eeeeee;
  --title-font: 'winky rough', sans-serif;
  /* --title-font: 'wendy one', sans-serif; */
  --main-font: 'lexend';

  --myWidth: 85%;
  --lg-icon: 2.5rem;
  --md-icon: 2rem;
  --sm-icon: 1.5rem;
}

.dark {
  --background: #00202a;
  --foreground: #e8e8e8;
  --primary: #3db9e0;
  --primary-foreground: #0c2231;
  --secondary: #01394a;
  /* --secondary: #1c3440; */
  --secondary-foreground: #81cfe0;
  --pop: #f2784b;
  --pop-foreground: #1c2833;
  --dark: #0d1f25;
  --light: #e3f0f3;
}

*::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}


