<button
  class="group relative flex justify-center items-center font-semibold overflow-hidden myTransition hover:scale-105"
  [class]="allClasses()"
  [type]="type()"
  [disabled]="disabled()"
>
  <div class="relative z-10 w-full flex items-center h-full justify-center gap-2 text-nowrap">
    <ng-content></ng-content>
  </div>
  @if (variant() === 'primary' || variant() === 'ghost') {
    <span
      class="absolute inset-0 bg-linear-to-r from-primary/70 duration-700! to-pop opacity-0 group-hover:opacity-100 myTransition"
    ></span>
  }
</button>
